<article id="esquerdo">
      
    <nav>
      <li><a href="/">inicio</a></li> 
       <li><a href="home">home</a></li>
       <li><a href="quem-somos">quem somos</a></li>
       <li><a href="servicos">serviços</a></li>
      <li><a href="contatos">contatos</a></li>
    </nav>

   </article>
