<!DOCTYPE html>
<html lang="PT-BR">

<head>
<%- include("partials/head.ejs") %>
</head>

<body>
<%- include("partials/header.ejs") %>

<main>
  
    <section>
        <%- include("partials/menu.ejs") %>
    
     <article id="direito">
        
     </article>
  
  
     </section>
  
</main>

<%- include("partials/foot.ejs") %>
</body>
</html>