@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header{
    display: inline-block;
    height: 400px;
    width: 100%;
background-color: aquamarine
}
img{
 height: 100%;
    width: 100%;

}

nav{
    display: inline-block;
}

a{
    
    text-decoration: none;
    color: black;   

}

li{
    
    border-radius: 5px;
    list-style: none;
    
    padding: 5px 10px;
    background-color: rgb(147, 232, 232);
    
    margin-top: 5px;
    font-size: 20px


}

section{
    display: flex;

}

#esquerdo{
    margin-top: 25px;
}

#esquerdo,#direito{

    margin-left: 50px;
}

#direito{
    box-sizing: border-box;
    margin-top: 30px;
    padding: 120px 650px;
    background-color: rgb(238, 252, 248);
    border-radius: 20px;
}



h1{

margin-left: -600px;
margin-top: -100px;

}

.posts {

    width: 400%;
}
.post{
    margin-top: 15px;
    width: 600%;
    margin-left: -600px;
}

P{
    margin-top: -15px;
    
}


#teste , #model{
    width: 20px;
}